<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--        
        <servlet>
            <servlet-name>FrontController</servlet-name>
            <servlet-class>fon.silab.njt.web.mywebexampleproject.FrontController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>FrontController</servlet-name>
            <url-pattern>/app/*</url-pattern>
        </servlet-mapping>
    -->
    <!--    <listener>
        <description>ServletContextListener</description>
        <listener-class>fon.silab.njt.web.mywebexampleproject.listener.MyApplicationContextListener</listener-class>
    </listener>-->
  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
